* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-family: "GodOfWar", sans-serif;
  font-size: 62.5%; /* 1rem = 10px */
}
a {
  text-decoration: none;
  color: white;
}
li {
  list-style: none;
}
.container {
  margin-top: 120px;
  padding-bottom: 100px;
  display: grid;
  justify-items: center;
  align-items: center;
}
.titulo {
  font-family: "Berserker", sans-serif;
  font-size: 40px;
  color: #fff;
  text-transform: uppercase;
}
.subtitle {
  margin-top: 3.2rem;
  font-size: 2rem;
}
.paragraph {
  font-size: 1.6rem;
}
.paragraph,
.subtitle {
  font-family: "Besley", sans-serif;
  color: #fff;
}

/* ---------------------------------- */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav {
  position: absolute;
  right: 0;
  background: #0e0d0d;
  border-radius: 50px 0 0 50px;
  padding: 15px 80px 15px 15px;
}
body {
  background: url("../assets/home_background.webp");
}

.logo_container {
  margin-left: 80px;
}
.logo {
  width: 100px;
}

.nav_menu {
  display: flex;
  gap: 80px;
  font-size: 20px;
  color: #fff;
  padding-left: 40px;
}
.nav_menu a {
  transition: 0.2s;
}
.nav_menu a:hover {
  color: rgb(228, 127, 13);
}
