body {
  background: url("../assets/background.webp");
}
.titulo {
  margin-top: 96px;
  margin-left: 68px;
}
.titulo img {
  width: 900px;
}
.text {
  margin-top: 40px;
  margin-left: 80px;
  font-size: 3rem;
  line-height: 35px;
  color: white;
}
.text p {
  max-width: 40ch;
}
.button {
  margin-top: 72px;
  margin-left: 80px;
}
.button a:hover {
  background: rgb(179, 128, 21);
  color: #000;
}
.button a {
  background: rgba(253, 250, 250, 0.27);
  padding: 1.5rem 4rem;
  font-size: 40px;
  border-radius: 8px;
  border: 1px solid white;
  color: white;
  transition: 0.2s;
}

/* Medias Queries*/
@media();
